body {
  background-color: #efefef;
}

.BlogForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 0 4px 4px #ccc;
  background-color: white;
  padding: 16px;
}

.BlogForm > * {
  width: 100%;
  margin: 12px 0;

  border: 0;
  border-bottom: 1px solid #ccc;
}
