@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #efefef;
  padding: 0 4%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.TODOCard {
  width: 100%;
  background-color: white;
  margin: 16px;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 6px 1px #ccc;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TODOHeading {
  width: 80%;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.DeleteIcon {
  width: 32px;
  cursor: pointer;
}
